.DS_Store
node_modules
venv
# local env files
.env
.env.*
*.log
*.tar.xz

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test Cache
.pytest

# Diretorio de Imagens
media
*.sqlite3
*pyc
